<div class="filtter">
    <div class="filter-row">
        <form id="select-input">
            <select name="labels" id="filter" required>
                <option value="">Select Labels</option>
                <option value="UI">UI</option>
                <option value="Bug">Bug</option>
                <option value="Development">Development</option>
                <option value="Backend">Backend</option>
                <option value="FrontEnd">FrontEnd</option>
                <option value="Database">Database</option>
            </select>
            <input type="submit" value="filter">
        </form>
    </div>
</div>